<div class="wp-bs-starter-wrapper">
    <div class="container">
        <div class="card shadow-sm">
            <h5 class="card-header d-flex align-items-center bg-hupa py-4">
                <i class="icon-hupa-white d-block mt-2"
                   style="font-size: 2rem"></i>&nbsp;{{ site_section }} </h5>
            <div class="card-body pb-4" style="min-height: 72vh">
                <div class="card-body pb-4" style="min-height: 72vh">
                    <div class="d-flex align-items-center">
                        <h5 class="card-title">
                            <i class="hupa-color fa fa-arrow-circle-right"></i> {{ first_title }}
                            / <span id="currentSideTitle">{{ second_title }}</span>
                        </h5>
                        <div class="ajax-status-spinner ms-auto d-inline-block mb-2 pe-2"></div>
                    </div>
                    <hr>
                    {% block basicContent %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% block basicModal %}{% endblock %}
</div>
<div id="snackbar-success"></div>
<div id="snackbar-warning"></div>