.idea
.github
.vscode
admin/includes/hupa-gutenberg-sidebar/sidebar-dev
admin/includes/gutenberg-tools/theme-carousel/src/
admin/includes/gutenberg-tools/menu-select/src/
admin/includes/gutenberg-tools/google-maps/src/