.idea
.github
.vscode
admin/includes/hupa-gutenberg-sidebar/sidebar-dev
admin/includes/gutenberg-tools/theme-carousel/src/
admin/includes/gutenberg-tools/menu-select/src/
admin/includes/gutenberg-tools/google-maps/src/
/admin/vendor/twbs/bootstrap-icons/icons/
/admin/vendor/twbs/bootstrap-icons/docs/
/admin/npm-dev/
/admin/npm-animate/
/admin/includes/hupa-gutenberg-sidebar/sidebar-dev/src/
/admin/npm-lightbox/
/admin/includes/gutenberg-tools/bs-button/node_modules/
/admin/includes/gutenberg-tools/bs-button/src/
/admin/includes/gutenberg-tools/iconBlockControls/node_modules/
/admin/includes/gutenberg-tools/iconBlockControls/src/
/admin/includes/gutenberg-tools/bs-button/
/admin/composer.lock
