<!--Modal-->
<div class="modal fade" id="dialog-add-icon" tabindex="-1" aria-labelledby="dialog-add-iconLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-fullscreen modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-hupa">
                <h5 class="modal-title" id="exampleModalLabel">{{ 'Icon auswählen'|__ }}</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="icon-grid"></div>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-hupa btn-outline-secondary" data-bs-dismiss="modal">
                    <i class="fa fa-close"></i> Schließen
                </button>
            </div>
        </div>
    </div>
</div>