<div class="modal fade" id="uploadLogModal" tabindex="-1" aria-labelledby=uploadLogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-hupa">
                <h5 id="uploadLogModalLabel">
                    <i class="bi bi-clock-history me-1"></i>
                    <span class="modal-title"></span>
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"><h5 class="text-center">keine Daten vorhanden</h5></div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="delete-log-file btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="bi bi-trash me-1"></i> alle löschen
                </button>
                <button type="button" class="btn btn-blue" data-bs-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>