{% extends "@partials-layout/basic-layout.twig" %}
{% block basicContent %}
    <div class="settings-btn-group d-block d-md-flex flex-wrap">
        <button data-site="SCSS Compiler" data-type="start" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseMinifySCSSStart"
                class="btn-formular-collapse btn btn-hupa btn-outline-secondary btn-sm active" disabled="">
            <i class="fa fa-css3"></i>&nbsp;
            SCSS Settings
        </button>
    </div>
    <hr>

    <div class="form-check form-switch mb-3">
        <input class="form-check-input" type="checkbox"
               role="switch" name="compiler_aktiv"
               id="compilerAktiv" {% if option.compiler_aktiv %}checked{% endif %}>
        <label class="form-check-label" for="compilerAktiv">SCSS Compiler aktiv</label>
    </div>

    <div class="border rounded mt-1 mb-3 shadow-sm p-3 bg-custom-gray" style="min-height: 53vh">
        <div class="d-flex align-items-center">
            <h5 class="card-title d-flex">
                <i class="hupa-color d-block mt-1 icon-hupa-white me-1"></i> SCSS Compiler Settings
            </h5>
            <div class="ajax-three-spinner ms-auto d-inline-block mb-2 pe-2"></div>
        </div>
        <hr>
        <div id="scssCompilerParentCol" data-folder="{{ theme_dir }}">
            <div class="card card-body bg-light mb-2 shadow-sm">
                <div class="collapse show" id="scssCompilerStart" data-bs-parent="#scssCompilerParentCol">
                    <fieldset id="threeSettings" {% if not option.compiler_aktiv %}disabled{% endif %}>
                        <form class="send-ajax-three-form">
                            <input type="hidden" name="method" value="update_scss_compiler">
                            <h6>Pfade einrichten</h6>
                            <hr class="mt-0">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-12 pe-2 mb-3">
                                    <div class="form-floating">
                                        <input name="source" type="text" class="form-control no-blur"
                                               id="inputSourceFolder"
                                               value="{{ option.scss_source }}"
                                               placeholder="SCSS / SASS Location">
                                        <label for="inputSourceFolder">SCSS / SASS Location</label>
                                    </div>
                                    <button data-handle="source" type="button"
                                            class="btn-show-folder-tree btn btn-blue-outline btn-sm my-3">
                                        <i class="fa fa-folder-open-o"></i>
                                        Location ausw채hlen
                                    </button>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-12 pe-2 mb-3">
                                    <div class="form-floating">
                                        <input name="destination" type="text" class="form-control no-blur"
                                               id="inputDestinationFolder"
                                               value="{{ option.scss_destination }}"
                                               placeholder="CSS Location">
                                        <label for="inputDestinationFolder">CSS Location</label>
                                    </div>

                                    <button data-handle="destination" type="button"
                                            class="btn-show-folder-tree btn btn-blue-outline my-3 btn-sm">
                                        <i class="fa fa-folder-open-o"></i> Location ausw채hlen
                                    </button>
                                </div>
                                <hr class="mb-2">
                                <h6>Cache Settings</h6>
                                <hr>
                                <div class="mb-2">
                                  <div class="form-check form-switch">
                                    <input class="form-check-input" data-bs-toggle="collapse"
                                           data-bs-target="#collapseCacheAktiv" name="cache_aktiv" type="checkbox"
                                           role="switch"
                                           id="SwitchCacheAktiv" {% if option.cache_aktiv %}checked{% endif %}>
                                    <label class="form-check-label" for="SwitchCacheAktiv">Cache aktiv</label>
                                </div>
                                    <div id="collapseCacheAktiv" class="collapse {% if option.cache_aktiv %}show{% endif %}">
                                        <div class="col-12">
                                            <div class="form-floating mt-3">
                                                <input type="text" name="cache_path" class="form-control no-blur"
                                                       value="{{ option.cache_path }}" id="inputCachePath" placeholder="Cache Pfad">
                                                <label for="inputCachePath">Cache Pfad</label>
                                            </div>
                                            <div class="form-text mb-3">
                                                Der angegebene Pfad muss existieren.
                                            </div>

                                            <button type="button" class="clear-cache btn btn-outline-primary mb-2 btn-sm">
                                                <i class="bi bi-rocket-takeoff me-1"></i>
                                                Cache leeren
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr class="mb-2">
                                <h6>Ausgabe Settings</h6>
                                <hr>
                                <div class="row">
                                    <div class="mb-3">
                                        <div class="form-floating">
                                            <select class="form-select no-blur" id="SelectMode"
                                                    name="formatter_mode" aria-label="Ausgabe">
                                                <option value="expanded" {% if option.scss_formatter == 'expanded' %}selected{% endif %}>
                                                    expanded
                                                </option>
                                                <option value="compressed" {% if option.scss_formatter == 'compressed' %}selected{% endif %}>
                                                    compressed
                                                </option>
                                            </select>
                                            <label for="SelectMode">Ausgabe</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="form-check form-switch form-check-inline me-3">
                                <input class="form-check-input" data-bs-toggle="collapse"
                                       data-bs-target="#collapseMapOption" name="map" type="checkbox"
                                       role="switch"
                                       id="SwitchSourceMap" {% if option.map_aktiv %}checked{% endif %}>
                                <label class="form-check-label" for="SwitchSourceMap">Source Map
                                    erstellen</label>
                            </div>

                            <div class="form-check form-check-inline form-switch me-3">
                                <input class="form-check-input" name="enqueue_aktiv" type="checkbox"
                                       role="switch"
                                       id="SwitchEnqueueAktiv" {% if option.enqueue_aktiv %}checked{% endif %}>
                                <label class="form-check-label" for="SwitchEnqueueAktiv">Enqueue
                                    Stylesheets erstellen <sup class="text-danger">(1)</sup></label>
                            </div>

                            <div class="form-check form-check-inline form-switch me-3">
                                <input class="form-check-input" name="scss_login_aktiv" type="checkbox"
                                       role="switch"
                                       id="SwitchLoginAktiv" {% if option.scss_login_aktiv %}checked{% endif %}>
                                <label class="form-check-label" for="SwitchLoginAktiv">Compiler nur bei
                                    Login aktiv <sup class="text-danger">(2)</sup></label>
                            </div>

                            <div class="form-text mt-2">
                                <span class="text-danger">(1)</span>
                                CSS-Stylesheets werden automatisch in den Header eingereiht.
                            </div>
                            <div class="form-text">
                                <span class="text-danger">(2)</span>
                                Wenn aktiviert, ist der SCSS-Compiler nur aktiv wenn ein Benutzer
                                angemeldet ist.
                            </div>
                            <div class="collapse {% if option.map_aktiv %}show{% endif %}"
                                 id="collapseMapOption">
                                <hr>
                                <div class="mb-3">
                                    <div class="form-floating">
                                        <select class="form-select no-blur" id="SelectMapFile"
                                                name="map_option" aria-label="Source Map Optionen">
                                            <option value="map_file" {% if option.scss_map_option == 'map_file' %}selected{% endif %}>
                                                File
                                            </option>
                                            <option value="map_inline" {% if option.scss_map_option == 'map_inline' %}selected{% endif %}>
                                                Inline
                                            </option>
                                        </select>
                                        <label for="SelectMapFile">Source Map Optionen</label>
                                    </div>
                                </div>
                            </div>
                            <hr class="mb-2">
                        </form>
                    </fieldset>
                </div>
                <div class="collapse" id="threeCollapse" data-bs-parent="">
                    <div id="three-wrapper">
                        <h6><i class="fa fa-folder-open-o"></i> Ordner ausw채hlen</h6>
                        <hr class="mt-1">
                        <div id="container"></div>
                        <hr>
                        <div class="ordner-select">Ordnername</div>
                        <button class="btn-select-folder btn btn-blue-outline mb-2 mt-3 btn-sm">
                            <i class="fa fa-folder-open"></i> Ordner w채hlen
                        </button>
                        <button class="btn-close-folder-tree btn btn-outline-secondary btn-sm mb-2 mt-3 btn-sm">
                            <i class="text-danger fa fa-close me-1"></i>
                            abbrechen
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}