/*!
 *
 * Jens Wiecker PHP Class
 * @package Jens Wiecker WordPress Plugin
 * Copyright 2021, Jens Wiecker
 * License: Commercial - goto https://www.hummelt-werbeagentur.de/
 * https://www.hummelt-werbeagentur.de/
 *
 */

// WORDPRESS STYLES

.wp-block {
  max-width: 85vw;
}

#toplevel_page_post-selector-settings div.wp-menu-image.dashicons-before.dashicons-slides::before {
  color: #82e8ff !important;
}

#menu-posts-starter_footer div.wp-menu-image.dashicons-before.dashicons-welcome-widgets-menus::before {
  color: greenyellow !important;
}

#menu-posts-starter_header div.wp-menu-image.dashicons-before.dashicons-welcome-widgets-menus::before {
  color: #2fc1ff !important;
}

#toplevel_page_hupa-starter-home div.wp-menu-image.dashicons-before.dashicons-layout::before {
  color: #ffdd34 !important;
}

#toplevel_page_hupa-starter-maps div.wp-menu-image.dashicons-before.dashicons-location-alt::before {
  color: #dfff7b !important;
}

#toplevel_page_fb-api-home div.wp-menu-image.dashicons-before.dashicons-facebook::before {
  color: #00acf5 !important;
}

#menu-posts-facebook_posts div.wp-menu-image.dashicons-before.dashicons-facebook::before {
  color: #00acf5 !important;
}

#toplevel_page_hupa-starter-home ~ .green_submenue {
  color: greenyellow !important;
}

#menu-posts-starter_footer div.wp-menu-image.dashicons-before.dashicons-welcome-widgets-menus::before {
  color: greenyellow !important;
}

#toplevel_page_hupa-starter-form div.wp-menu-image.dashicons-before.dashicons-email-alt::before {
  color: #2bff76 !important;
}

#toplevel_page_bs-formular2 div.wp-menu-image.dashicons-before.dashicons-email-alt::before {
  color: #ffbf31 !important;
}

.menu_hupa {
  margin-right: 4px;
  display: inline;
  vertical-align: middle;
  margin-top: -1px;
}

//
div.wp-menu-image.dashicons-before.dashicons-admin-network::before {
  color: red !important;
}


#wp-admin-bar-hupa_page {
  .hupa-toolbar-page {
    a.ab-item {
      color: #e11d2a;
    }
  }
}
.hupa-public-wrapper {
  .li-head {
    font-size: 20px !important;
  }

  .h4-head {
    font-size: 18px;
    font-weight: 500;
  }

  ul li:first-child:not(ol li) {
    font-size: 17px;
    font-weight: 500;
  }

  ol li {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
  }
  ol li:first-child {
    padding-top: .5rem;
  }

  .subline {
    font-size: 22px;
    margin-bottom: .25rem;
    display: block;
  }
}
.get_hupa_update div.ab-item.ab-empty-item, .get_hupa_contact div.ab-item.ab-empty-item {
  cursor: pointer !important;

  &:hover {
    color: #72aee6 !important;
  }
}

.starter_admin_footer_text {
  display: flex;
  align-items: center;
  margin: 0 .5rem;
  font-weight: 700;

  img {
    width: 15px;
    margin-right: .5rem;
  }
}

.wp-admin #wpadminbar #wp-admin-bar-site-name > .ab-item:before {
  font-family: Glyphter, serif;
  content: "\0041" !important;
  color: rgba(240, 246, 252, 8) !important;
  font-size: 1.4rem;
}

.hupa-admin-bar-logo {
  display: none;
}

.footer-red {
  color: #e11d2a;
}

.card {
  position: relative;
  margin-top: unset;
  padding: unset;
  min-width: auto;
  max-width: 100%;
  border: unset;
  box-shadow: unset;
  background: unset;
  box-sizing: border-box;
}

#snackbar-success {
  visibility: hidden;
  min-width: 300px;
  font-size: 1rem;
  margin-left: -125px;
  background-color: #378437;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 30px
}

#snackbar-success.show {
  visibility: visible;
  -webkit-animation: fadein .5s, fadeout .5s 5s;
  animation: fadein .5s, fadeout .5s 5s
}

#snackbar-warning {
  visibility: hidden;
  min-width: 300px;
  margin-left: -125px;
  font-size: 1rem;
  background-color: #d73814;
  border: 2px solid #fff;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 99999;
  left: 50%;
  bottom: 30px
}

#snackbar-warning.show {
  visibility: visible;
  -webkit-animation: fadein .5s, fadeout .5s 5s;
  animation: fadein .5s, fadeout .5s 5s
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0
  }
  to {
    bottom: 30px;
    opacity: 1
  }
}


@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1
  }
  to {
    bottom: 0;
    opacity: 0
  }
}